@import './wo-fangyuan.css'
*
	margin 0
	padding 0
body
	font-family Microsoft YaHei
	background #EFEFF4
.homepage-cantain
	position relative
	overflow hidden
	.homepage-content-ul
		width 200%
		position absolute
		z-index 1
		height 100%
		top 0
		.homepage-content-li-img
			background url(../img/house/i/banner_img@2y.png) no-repeat center
			height 100%
			background-size 100%
		.homepage-cantain-content-img
			width 100%
			position absolute
			top 0px
			height 100px
			background url(../img/house/i/banner_img_shadow@2x.png) no-repeat center top 0px
			background-size 100% 50%
			z-index 2
	.homepage-cantain-top-hide
		.homepage-cantain-top
			position absolute
			z-index 3
			top 5%
			color white
			left 5%
			width 100%
			.homepage-top-left
				.homepage-top-prayer
					font-size 14px
					float left
				.homepage-top-img
					background  url(../img/house/i/nav_icon_down@2x.png) no-repeat center left 5px
					height 20px
					width 20px
					float left
					background-size 50% 25%
			.homepage-top-title
				position absolute
				left 50%
				margin-left -32px
			.homepage-top-seach
				position absolute
				margin 5px auto
				width 90%
				background white
				border-radius 5px
				.homepage-top-seach-center
					width 50%
					margin 5px auto
					.homepage-top-seach-left
						display inline-block
						width 13px
						height 13px
						background url(../img/house/i/banner_icon_search@2x.png) no-repeat center
						background-size 100%
					.homepage-top-seach-right
						color #B9B9B9
						font-size 14px
.homepage-cantain-two
	overflow hidden
	background #3C3C3B
	height 0px
	.homepage-cantain-top
		display flex
		z-index 3
		color white
		margin-top 5px
		width 100%
		.homepage-top-left
			margin-top 10px
			margin-left 10px
			.homepage-top-prayer
				font-size 14px
				float left
			.homepage-top-img
				background  url(../img/house/i/nav_icon_down@2x.png) no-repeat center left 5px
				height 20px
				width 20px
				float left
				background-size 50% 25%
		.homepage-top-seach
			flex 1
			.homepage-top-seach-center-two
				height 30px
				margin 5px auto
				width 75%
				line-height 30px
				background white
				border-radius 5px
				.homepage-top-seach-center
					width 75%
					margin 5px auto
					.homepage-top-seach-left
						display inline-block
						width 13px
						height 13px
						background url(../img/house/i/banner_icon_search@2x.png) no-repeat center
						background-size 100%
					.homepage-top-seach-right
						color #B9B9B9
						font-size 14px
.homepage-last
	border-bottom 1px solid #EBEBEE
	margin-top 10px
	background white
	.homepage-last-top
		height 45px
		margin-top 10px
		.homepage-last-top-ul
			height 24px
			display flex
			position relative
			list-style none
			.homepage-last-top-cantain
				flex 1
				border-right 1px solid #EBEBEE
				text-align center
				position relative
				top 70%
				.homepage-last-top-prayer
					color #959595
					margin-top 5px
					font-size 12px
					display block
				.homepage-last-top-img
					width 8px
					height 4px
					display inline-block
					background url(../img/house/i/content_icon02_nor@2x.png) no-repeat center
					background-size 100% 100%
					position absolute
					left 50%
					margin-left -4px
				.homepage-last-top-end-img
					width 35px
					display inline-block
					height 35px
					background url(../img/house/i/content_icon01_nor@2x.png) no-repeat center
					background-size 50% 50%
				.homepage-last-top-end-img-two
					width 35px
					display inline-block
					height 35px
					background url(../img/house/i/content_icon01_litre@2x.png) no-repeat center
					background-size 50% 50%
				.homepage-last-top-end-img-three
					width 35px
					display inline-block
					height 35px
					background url(../img/house/i/content_icon01_down@2x.png) no-repeat center
					background-size 50% 50%
				.homepage-last-top-hidden
					position absolute
					display none
					background white
					z-index 5
.page-last
	height 50px
	background white
	position fixed
	bottom 0
	width 100%
	ul
		list-style none
		display flex
		width 95%
		margin 0 auto
		li
			flex 1
			text-align center
			margin-top 5px
			.page-last-img1
				width 100%
				height 21px
				background url(../img/house/i/bottom_press_icon04@2x.png) center no-repeat
				display block
				background-size 21px 21px
			.page-last-img2
				width 100%
				height 21px
				background url(../img/house/i/bottom_nor_icon03@2x.png) center no-repeat
				display block
				background-size 21px 21px
			.page-last-img3
				width 45px
				height 40px
				position relative
				left 50%
				margin-left -22px
				background #EA5404 url(../img/house/i/bottom_icon05@2x.png) center right 0px no-repeat
				display block
				background-size 100% 100%
			.page-last-img4
				width 100%
				height 21px
				background url(../img/house/i/bottom_nor_icon02@2x.png) center no-repeat
				display block
				background-size 21px 21px
				position relative
				.page-last-img4-box
					border-radius 50%
					width 15px
					height 15px
					font-size 12px
					text-align center
					background #EA5404
					position absolute
					top -5px
					left 50%
					color white
			.page-last-img5
				width 100%
				height 21px
				background url(../img/house/i/bottom_nor_icon01@2x.png) center no-repeat
				display block
				background-size 21px 21px
				position relative
			.page-last-text
				font-size 14px
.homepage-last-bottom
	margin auto
	margin-bottom 60px
.homepage-absolute
	display none
	position absolute
	background rgba(60,60,60,0.4)