*
	margin 0
	padding 0
body
	color #807E7E
	font-family Microsoft YaHei 
	background-color #F5EEEA 
	transition all 1s
a
	text-decoration none
.contain
	.box
		margin auto
		height 500px
		background url(../img/house/geren/loading_01.png) center no-repeat
		background-size 100%
	.bottom
		margin auto
		height 50px
		text-align center
		font-size 16px
		line-height 50px
.contain-dl
	display none
	height 35px
	text-align center
	.top
		color #ED6E2A
		text-align center
		font-size 20px
		height 35px
		line-height 35px
		position relative
		background white
		.dl-top-back
			width 100px
			height 35px
			position absolute
			left 10px
			background url(../img/house/geren/nav_back_icon@2x.png) left center no-repeat
			background-size 10%
.zhanghao
	height 80px
	background white
	margin-top 20px
	vertical-align middle
	.zhanghao-center
		height 1px
		background #CDCDCD
		width 95%
		margin auto
	.zhanghao-box
		height 40px
		vertical-align middle
		.zhanghao-left
			height 40px
			float left
			line-height 40px
			.zhanghao-img-2
				height 40px
				width 40px
				float left
				vertical-align text-bottom
				background url(../img/house/geren/content_password_icon@2x.png) no-repeat center
				background-size 45%
			.zhanghao-img
				height 40px
				width 40px
				float left
				background url(../img/house/geren/content_ID_icon@2x.png) no-repeat center
				background-size 50%
				vertical-align text-bottom
			.zhanghao-txt
				float left
				color black
		.zhanghao-right
			display flex
			float left
			line-height 40px
			flex 1
			input
				margin-top 14px
				border none
				outline 0
.bottom
	margin 45px auto
	height 100px
	.bottom-btn
		width 95%
		height 45px
		background #C7C7C7
		border none
		border-radius 5px
		font-size 18px
		a
			color white
.bottom-bottom
	height 50px
	margin-top 20px
.bottom-left
	float left
	text-indent 10px
	font-size 14px
	.bottom-zc
		color #FD9C39
		font-size 16px
.bottom-right
	float right
	padding-right 10px
	color #777778
.both
	clear both