@import './head.css'
.news-contain
	margin auto
	padding 0px 10px
	margin 30px 0px
	.news-contain-content
		margin 15px
		background white
		height 170px
		border-radius 5px
		box-shadow 1px 1px 10px #888888
		.news-content-top
			display flex
			line-height 45px
			height 45px
			border-bottom 1px dotted #E4E4E4
			.news-content-top-left
				flex 1
				div
					float left
					font-weight bold
					margin-left 20px
			.news-content-top-right
				position relative
				.news-last-prayer
					color #B5B5B5
					font-size 12px
					position absolute
					right 15px
					margin-bottom -5px
		.news-content-bottom
			.news-bottom-prayer
				font-size 14px
				color #494949
				margin 10px 15px
				height 60px
			.news-bottom-last
				text-align center
				position relative
				.news-last-btn
					width 115px
					height 30px
					background #EFEFF4
					font-size 16px
					color #969698
					border none
					border-radius 5px