@import './head.css'
.i-top
	text-align center
	position relative
	background white
	height 35px
	line-height 35px
	font-size 20px
	.i-top-right-img
		width 32px
		height 32px
		position absolute
		right 5%
		display inline-block
		background url(../img/house/i/nav_set_icon@2x.png) center no-repeat
		background-size 50%
.i-contain
	margin-top 15px
	height 140px
	background white
	.i-contain-top
		height 95px
		position relative
		border-bottom 1px solid #EBEBEE
		&:after
			content ''
			background url(../img/house/i/login_right_icon@2x.png) center no-repeat
			width 20px
			height 36px
			display inline-block
			position absolute
			right 0
			top 50%
			margin-top -18px
			background-size 50%
		.i-contain-img
			width 65px
			height 65px
			border-radius 50%
			margin 15px
			float left
			background url(../img/house/i/login_user-head@2x.png) center no-repeat
			background-size 100%
		.i-contain-text
			float left
			height 65px
			.i-top-name
				width 70px
				margin-top 40%
			.i-top-set
				font-size 12px
				width 65px
				height 30px
				line-height 30px
				position relative
				&:after
					content ''
					background url(../img/house/i/log-in_edit_icon@2x.png) center right 0px no-repeat
					position absolute
					right 0
					top 50%
					margin-top -12px
					background-size 50%
					width 22px
					height 24px
					display inline-block
	.i-contain-bottom
		height 45px
		display flex
		.i-bottom-text
			font-size 14px
			flex 1
			color #929292
			line-height 45px
			text-align center
			b
				color #323232
				font-size 18px
.i-end
	.i-end-li
		margin-top 15px
		background white
		height 50px
		list-style none
		line-height 50px
		vertical-align middle
		position relative
		&:after
			content ''
			width 16px
			display inline-block
			position absolute
			right 0
			top 50%
			margin-top -15px
			height 30px
			background url(../img/house/i/content_list_right_icon@2x.png) center no-repeat
			background-size 50%
		.i-end-box
			height 50px
			float left
			vertical-align middle
		.i-end-img1
			background url(../img/house/i/content_list_icon01@2x.png) center no-repeat
			width 40px
			height 40px
			background-size 50%
			float left
			margin-top 5px
			vertical-align text-bottom
		.i-end-img2
			background url(../img/house/i/content_list_icon02@2x.png) center no-repeat
			width 40px
			height 40px
			background-size 50%
			float left
			margin-top 5px
			vertical-align text-bottom
		.i-end-img3
			background url(../img/house/i/content_list_icon03@2x.png) center no-repeat
			width 40px
			height 40px
			background-size 50%
			float left
			margin-top 5px
			vertical-align text-bottom
		.i-end-img4
			background url(../img/house/i/content_list_icon04@2x.png) center no-repeat
			width 40px
			height 40px
			background-size 50%
			float left
			margin-top 5px
			vertical-align text-bottom
.page-last
	height 50px
	background white
	position fixed
	bottom 0
	width 100%
	ul
		list-style none
		display flex
		width 95%
		margin 0 auto
		li
			flex 1
			text-align center
			margin-top 5px
			.page-last-img1
				width 100%
				height 21px
				background url(../img/house/i/bottom_nor_icon04@2x.png) center no-repeat
				display block
				background-size 21px 21px
			.page-last-img2
				width 100%
				height 21px
				background url(../img/house/i/bottom_nor_icon03@2x.png) center no-repeat
				display block
				background-size 21px 21px
			.page-last-img3
				width 45px
				height 40px
				position relative
				left 50%
				margin-left -22px
				background #EA5404 url(../img/house/i/bottom_icon05@2x.png) center right 0px no-repeat
				display block
				background-size 100% 100%
			.page-last-img4
				width 100%
				height 21px
				background url(../img/house/i/bottom_nor_icon02@2x.png) center no-repeat
				display block
				background-size 21px 21px
				position relative
				.page-last-img4-box
					border-radius 50%
					width 15px
					height 15px
					font-size 12px
					text-align center
					background #EA5404
					position absolute
					top -5px
					left 50%
					color white
			.page-last-img5
				width 100%
				height 21px
				background url(../img/house/i/bottom_press_icon01@2x.png) center no-repeat
				display block
				background-size 21px 21px
				position relative
			.page-last-text
				font-size 14px