@import './head.css'
.zc
	height 240px
	background white
	margin-top 20px
	line-height 40px
	.one
		height 45px
		width 95%
		margin auto
		border-bottom 1px solid #EBEBEB
		.zh-left
			float left
			.zh-img
				width 30px
				height 40px
				float left
				vertical-align text-bottom
				background url(../img/house/geren/content_ID_icon@2x.png) center left 0px no-repeat
				background-size 75% 50%
			.zh-text
				float left
				color black
		.zh-right
				display flex
				float left
				line-height 40px
				flex 1
				input
					margin-top 14px
					border none
					outline 0
	.two
		position relative
		.two-img
			width 30px
			height 40px
			float left
			vertical-align text-bottom
			background url(../img/house/geren/content_verify_icon@2x.png) center left 2px no-repeat
			background-size 50% 55%
		.zh-right-yz
			display inline-block
			position absolute
			right 0px
			top 50%
			margin-top -15px
			width 85px
			height 30px
			color #FBE1DA
			font-size 12px
			line-height 30px
			border-radius 5px
			text-align center
			background-color #EA5404
	.last
		border-bottom none
		margin-top 5px
		position relative
		.last-img
			width 30px
			height 40px
			float left
			vertical-align text-bottom
			background url(../img/house/geren/content_position_icon@2x.png) center left 0px no-repeat
			background-size 70% 50%
		.xy
			width 40px
			font-size 30px
			text-align center
			height 26px
			color #818181
			position absolute
			right 0
			display inline-block
			margin 5px
			margin-top 10px
			transform rotate(180deg)
			.box
				display none
				width 65px
				height 85px
				background #A3A3A3
				font-size 14px
				border-radius 5px
				color #FCFBFB
				position absolute
				right 0
				top 30px
				ul
					list-style none
					li
						height 26px
						line-height 26px
						border-bottom 1px solid #B5B5B5
						&:last-child
							border none
.three-img
	width 30px
	height 40px
	float left
	vertical-align text-bottom
	background url(../img/house/geren/content_password_icon@2x.png) center left 1px no-repeat
	background-size 60% 55%
.contain-end
	width 95%
	height 70px
	margin 45px auto
	text-align center
	.end-first
		display block
		width 100%
		font-size 20px
		border none
		border-radius 5px
		height 45px
		background #C7C7C7
		color #F2F2F2
	.end-last
		font-size 16px
		color #818182
		.a-font
			color #EB875E
			text-decoration underline