<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>项目名 - 杭州摆摆网络科技有限公司</title>
    <meta name="keywords" content="杭州摆摆网络科技有限公司"/>
    <meta name="description" content="杭州摆摆网络科技有限公司是一家互联网制作及设计的现代设计公司
    摆摆网络将市场定位于以企业互联网电子商务平台及企业信息化建设为基点，提供全方位的设计与应用方案。以网站建设及网络营销整合作为其主打服务产品之外，摆摆网络的服务范围包括软件开发、平面设计、界面设计、网页设计等多方位优质服务。 "/>
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
	<link rel="stylesheet" href="./public/css/appointment-details.css">
</head>
<body>
	<div class="body-absolute">
		<div class="absolute-center">
			<div class="absolute-center-top">预约看房成功</div>
			<div class="absolute-center-bottom">
				<span class="absolute-center-bottom-left">取消</span>
				<span class="absolute-center-bottom-right">查看预约详情</span>
			</div>
		</div>
	</div>
	<div class="absolute phone-absolute">
		<div class="absolute-center">
			<div class="absolute-center-top">您确定要拨打电话么</div>
			<div class="absolute-center-bottom">
				<span class="absolute-center-bottom-left">取消</span>
				<span class="absolute-center-bottom-right">确定</span>
			</div>
		</div>
	</div>
	<div class="top" style="color:black">
			<span class="dl-top-back"></span>
			<span class="details-top-txt">预约详情</span>
	</div>
	<div class="details-cantain-box">
		<div class="details-head">预约人</div>
		<div class="details-data">
			<div class="details-data-left">
				<div class="details-data-left-img"></div>
				<span class="details-data-left-text">
					<div class="details-data-text-top">你才是张三</div>
					<div class="details-data-text-bottom">租户</div>
				</span>
			</div>
			<div class="details-data-right"></div>
		</div>
		<div class="details-head">预约信息</div>
		<div class="details-info">
			<div class="details-info-top">华旭国际大厦</div>
			<div class="details-info-bottom">
				<div class="details-info-left">
					<span>区域:黄埔-人民广场</span>
					<p>面积:766m²</p>
				</div>
				<div class="details-info-left">
					<span>房型:商务中心</span>
					<p>单价:￥5.5元/m²/天起</p>
				</div>
			</div>
		</div>
		<div class="details-head">预约时间</div>
		<div class="details-time">
			<div class="details-info-top">2016-08-08</div>
		</div>
		<div class="details-btn">接单</div>
		<div class="details-hide">
			<div class="details-head">预约状态</div>
			<ul class="details-ul">
				<li class="details-ul-li">
					<div class="details-li-left">
						<div class="details-li-left-top">08/10</div>
						<div class="details-li-left-bottom">周三</div>
					</div>
					<div class="details-li-right">订单成功</div>
				</li>
				<li class="details-ul-li">
					<div class="details-li-left">
						<div class="details-li-left-top">08/10</div>
						<div class="details-li-left-bottom">周一</div>
					</div>
					<div class="details-li-right">已接单,待看房</div>
				</li>
				<li class="details-ul-li">
					<div class="details-li-left">
						<div class="details-li-left-top">08/10</div>
						<div class="details-li-left-bottom">周六</div>
					</div>
					<div class="details-li-right">等待对方接单</div>
				</li>
			</ul>
		</div>
	</div>
	<div class="details-end">
		<ul class="details-end-ul">
			<li class="details-end-li details-end-first">改期
			</li>
			<li class="details-end-li details-end-ok">达成</li>
			<li class="details-end-li details-end-last">取消</li>
		</ul>
	</div>
	<div class="details-last-hide">
		<div class="details-hide-time">更改预约时间</div>
		<div class="details-last-time">
			<div class="details-info-top">
				<input type="date" class="myDate" value="2016-08-08">
			</div>
		</div>
	</div>
	<div class="absolute time-absolute">
		<div class="absolute-center">
			<div class="absolute-center-top">预约只能更改一次,请和客户确认</div>
			<div class="absolute-center-bottom">
				<span class="absolute-center-bottom-left">取消</span>
				<span class="absolute-center-bottom-right">确定</span>
			</div>
		</div>
	</div>
	<div class="absolute setTime-absolute">
		<div class="absolute-center">
			<div class="absolute-center-top">时间修改成功,记得准时赴约哦</div>
			<div class="absolute-center-bottom">
				<span class="absolute-center-bottom-right setTime-ok">确定</span>
			</div>
		</div>
	</div>
</body>
	<script src="./public/js/jquery-1.12.2.min.js"></script>
	<script src="./public/js/st/st.js"></script>
	<script src="./public/js/st/fy.js"></script>
</html>