<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>项目名 - 杭州摆摆网络科技有限公司</title>
    <meta name="keywords" content="杭州摆摆网络科技有限公司"/>
    <meta name="description" content="杭州摆摆网络科技有限公司是一家互联网制作及设计的现代设计公司
    摆摆网络将市场定位于以企业互联网电子商务平台及企业信息化建设为基点，提供全方位的设计与应用方案。以网站建设及网络营销整合作为其主打服务产品之外，摆摆网络的服务范围包括软件开发、平面设计、界面设计、网页设计等多方位优质服务。 "/>
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
	<link rel="stylesheet" href="./public/css/fabu.css">
</head>
<body>
	<div class="fabu-homepage">
		<div class="fabu-homepage-center">
			<div class="fabu-homepage-center-left">
				<div class="fabu-homepage-left-img"></div>
				<div class="fabu-homepage-left-txt">发布需求</div>
			</div>
			<div class="fabu-homepage-center-right">
				<div class="fabu-homepage-right-img"></div>
				<div class="fabu-homepage-right-txt">发布房源</div>
			</div>
		</div>
		<div class="fabu-homepage-bottom">
			<div class="fabu-homepage-bottom-img"></div>
		</div>
	</div>
	<div class="fabu-needs">
		<div class="needs-absolute">
			<div class="absolute-center">
				<div class="absolute-center-top">您确定要退出本次发布吗？</div>
				<div class="absolute-center-bottom">
					<span class="absolute-center-bottom-left">取消</span>
					<span class="absolute-center-bottom-right">确定</span>
				</div>
			</div>
		</div>
		<div class="fabu-absolute">
			<div class="absolute-center">
				<div class="absolute-center-top">需求发布成功，请稍后</div>
				<div class="absolute-center-bottom">
					<span class="absolute-center-bottom-right setTime-ok">确定</span>
				</div>
			</div>
		</div>
		<div class="needs-top">
			<div class="needs-top-left">取消</div>
			发布需求
			<div class="needs-top-right">发布</div>
			<div style="clear:both"></div>
		</div>
		<div class="needs-contain">
			<div class="needs-contain-name">
				<input type="text" placeholder="预约人">
			</div>
			<div class="needs-contain-number">
				<input type="text" placeholder="联系电话">
			</div>
			<div class="needs-contain-brief">
				<textarea rows="9" placeholder="描述一下您的需求,比如黄埔100-200m²,5-6yuan/m²/天,环境好点，底层，临近地铁"></textarea>
			</div>
		</div>
	</div>
	<div class="fabu-housing">
		<div class="housing-top">
			<div class="housing-top-left">取消</div>
			发布房源
		</div>
		<div class="housing-add">
			<div class="housing-add-left">
				<span class="housing-add-left-img"></span>
				<span class="housing-add-left-txt">
					<input type="text" placeholder="搜索想要发布的大厦">
				</span>
			</div>
			<div class="housing-add-right">
				<span class="housing-add-right-img"></span>
				<span class="housing-add-right-txt">新增楼盘</span>
			</div>
		</div>
		<div class="housing-contain">
			<div class="housing-contain-top">
				<div class="housing-contain-title">
					<span class="housing-contain-title-img"></span>
					<span class="housing-contain-title-txt">大厦信息</span>
				</div>
				<ul class="housing-contain-content">
					<li class="housing-contain-content-li">
						<span class="housing-contain-content-left">商圈：</span>
						<span class="housing-contain-content-right">
							<input type="text" placeholder="浦东-八佰伴">
						</span>
					</li>
					<li class="housing-contain-content-li">
						<span class="housing-contain-content-left">物业：</span>
						<span class="housing-contain-content-right">
							<input type="text" placeholder="上海浦江物业有限公司">
						</span>
					</li>
					<li class="housing-contain-content-li">
						<span class="housing-contain-content-left">层数：</span>
						<span class="housing-contain-content-right">
							<input type="text" placeholder="23层">
						</span>
					</li>
					<li class="housing-contain-content-li">
						<span class="housing-contain-content-left">层高：</span>
						<span class="housing-contain-content-right">
							<input type="text" placeholder="标准4.5米，净高2.75米，大堂14.5米">
						</span>
					</li>
					<li class="housing-contain-content-li">
						<span class="housing-contain-content-left">车位：</span>
						<span class="housing-contain-content-right">
							<input type="text" placeholder="地上30个，地下400个，1250元/月">
						</span>
					</li>
					<li class="housing-contain-content-li">
						<span class="housing-contain-content-left">电梯：</span>
						<span class="housing-contain-content-right">
							<input type="text" placeholder="客梯B部。货梯2部，三菱电梯">
						</span>
					</li>
					<li class="housing-contain-content-li">
						<span class="housing-contain-content-left">空调：</span>
						<span class="housing-contain-content-right">
							<input type="text" placeholder="集中式中央空调">
						</span>
					</li>
					<li class="housing-contain-content-li housing-li-span">
						<span class="housing-contain-content-left ">企业：</span>
						<span class="housing-contain-content-right">
							<input type="text" placeholder="顺诚商业地产(房地产/建筑)、大大集团">
						</span>
					</li>
					<li class="housing-contain-content-li">
						<span class="housing-contain-content-left">地铁：</span>
						<span class="housing-contain-content-right">
							<input type="text" placeholder="距离世纪大道站步行7分钟">
						</span>
					</li>
				</ul>
			</div>
			<div class="housing-contain-news">
				<div class="housing-contain-news-title">
					<span class="housing-contain-news-title-img"></span>
					<span class="housing-contain-title-txt">房源信息</span>
					<div class="housing-news-title-bottom">
						请选择发布的房源属性
						<ul class="housing-news-title-bottom-ul">
							<li class="housing-news-title-bottom-li">
								<span class="housing-news-title-bottom-li-img">
									<span class="housing-news-title-bottom-li-img-radius news-img-two">
									</span>
								</span>
								<span class="housing-news-title-bottom-li-txt">
									整层
								</span>
							</li>
							<li class="housing-news-title-bottom-li">
								<span class="housing-news-title-bottom-li-img">
									<span class="housing-news-title-bottom-li-img-radius news-img-two">
									</span>
								</span>
								<span class="housing-news-title-bottom-li-txt">
									整栋
								</span>
							</li>
							<li class="housing-news-title-bottom-li">
								<span class="housing-news-title-bottom-li-img">
									<span class="housing-news-title-bottom-li-img-radius news-img-two">
									</span>
								</span>
								<span class="housing-news-title-bottom-li-txt">
									众创空间
								</span>
							</li>
							<li class="housing-news-title-bottom-li">
								<span class="housing-news-title-bottom-li-img">
									<span class="housing-news-title-bottom-li-img-radius news-img-two">
									</span>
								</span>
								<span class="housing-news-title-bottom-li-txt">
									商务中心
								</span>
							</li>
							<li class="housing-news-title-bottom-li">
								<span class="housing-news-title-bottom-li-img">
									<span class="housing-news-title-bottom-li-img-radius news-img-two">
									</span>
								</span>
								<span class="housing-news-title-bottom-li-txt">
									创意产业园
								</span>
							</li>
							<li class="housing-news-title-bottom-li">
								<span class="housing-news-title-bottom-li-img">
									<span class="housing-news-title-bottom-li-img-radius news-img-two">
									</span>
								</span>
								<span class="housing-news-title-bottom-li-txt">
									写字楼
								</span>
							</li>
							<li class="housing-news-title-bottom-li">
								<span class="housing-news-title-bottom-li-img">
									<span class="housing-news-title-bottom-li-img-radius news-img-two">
									</span>
								</span>
								<span class="housing-news-title-bottom-li-txt">
									工位
								</span>
							</li>
						</ul>
					</div>
				</div>
				<div class="housing-contain-news-centent">
					<ul class="housing-news-centent-ul">
						<li class="housing-news-centent-li">
							<span class="housing-news-centent-li-left">
								房源面积
							</span>
							<span class="housing-news-centent-li-right">
								<span class="housing-news-right-left">
									<input placeholder="20">
								</span>
								<span class="housing-news-right-right">m²</span>
							</span>
						</li>
						<li class="housing-news-centent-li">
							<span class="housing-news-centent-li-left">
								房源单价
							</span>
							<span class="housing-news-centent-li-right">
								<span class="housing-news-right-left">
									<input placeholder="6.5">
								</span>
								<span class="housing-news-right-right">元/m²/天</span>
							</span>
						</li>
						<li class="housing-news-centent-li">
							<span class="housing-news-centent-li-left">
								交付状态
							</span>
							<span class="housing-news-centent-li-right">
								<span class="housing-news-right-left">
									<input placeholder="标准交付">
									<span class="housing-news-input"></span>
								</span>
							</span>
						</li>
						<li class="housing-news-centent-li">
							<span class="housing-news-centent-li-left">
								交付日期
							</span>
							<span class="housing-news-centent-li-right">
								<span class="housing-news-right-left">
									<input placeholder="6.5">
								</span>
								<span class="housing-news-right-right">
									<span class="housing-news-title-bottom-li-img">
										<span class="housing-news-title-bottom-li-img-radius news-img-two">
										</span>
									</span>
									<span class="housing-news-title-bottom-li-txt">
										是否现房
									</span>
								</span>
							</span>
						</li>
						<li class="housing-news-centent-li">
							<span class="housing-news-centent-li-left">
								最短租期
							</span>
							<span class="housing-news-centent-li-right">
								<span class="housing-news-right-left">
									<input placeholder="3年">
								</span>
							</span>
						</li>
						<li class="housing-news-centent-li">
							<span class="housing-news-centent-li-left">
								付款方式
							</span>
							<span class="housing-news-centent-li-right">
								<span class="housing-news-right-left">
									<input placeholder="押三付一">
								</span>
								<span class="housing-news-right-right">
									<span class="housing-news-title-bottom-li-img">
										<span class="housing-news-title-bottom-li-img-radius news-img-two">
										</span>
									</span>
									<span class="housing-news-title-bottom-li-txt">
										是否含发票
									</span>
								</span>
							</span>
						</li>
						<li class="housing-news-centent-li">
							<span class="housing-news-centent-li-left">
								是否结拥
							</span>
							<span class="housing-news-centent-li-right">
								<span class="housing-news-right-left">
									<input placeholder="一个月">
								</span>
								<span class="housing-news-right-right">
									<span class="housing-news-title-bottom-li-img">
										<span class="housing-news-title-bottom-li-img-radius news-img-two">
										</span>
									</span>
									<span class="housing-news-title-bottom-li-txt">
										是
									</span>
								</span>
							</span>
						</li>
						<li class="housing-news-centent-li">
							<span class="housing-news-centent-li-left">
								装修租免
							</span>
							<span class="housing-news-centent-li-right">
								<span class="housing-news-right-left">
									<input placeholder="一个月">
								</span>
							</span>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</body>
	<script src="./public/js/jquery-1.12.2.min.js"></script>
	<script src="./public/js/st/st.js"></script>
	<script src="./public/js/st/fy.js"></script>
</html>