<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>项目名 - 杭州摆摆网络科技有限公司</title>
    <meta name="keywords" content="杭州摆摆网络科技有限公司"/>
    <meta name="description" content="杭州摆摆网络科技有限公司是一家互联网制作及设计的现代设计公司
    摆摆网络将市场定位于以企业互联网电子商务平台及企业信息化建设为基点，提供全方位的设计与应用方案。以网站建设及网络营销整合作为其主打服务产品之外，摆摆网络的服务范围包括软件开发、平面设计、界面设计、网页设计等多方位优质服务。 "/>
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
	<link rel="stylesheet" href="./public/css/homepage.css">
</head>
<body>
	<div class="homepage-absolute"></div>
	<div class="homepage-cantain">
		<ul class="homepage-content-ul">
			<li class="homepage-content-li-img"></li>
		</ul>
		<div class="homepage-cantain-content-img"></div>
		<div class="homepage-cantain-top-hide">
			
			<div class="homepage-cantain-top">
				<div class="homepage-top-left">
					<span class="homepage-top-prayer">上海</span>
					<span class="homepage-top-img"></span>
				</div>
				<div class="homepage-top-title">幸福蜗居</div>
				<div class="homepage-top-seach">
					<div class="homepage-top-seach-center">
						<span class="homepage-top-seach-left"></span>
						<span class="homepage-top-seach-right">挑好房、上幸福蜗居</span>
					</div>
				</div>
			</div>
		</div>
		
	</div>

	<div class="homepage-cantain-two">
		<div class="homepage-cantain-top">
			<div class="homepage-top-left">
				<span class="homepage-top-prayer">上海</span>
				<span class="homepage-top-img"></span>
			</div>
			<div class="homepage-top-seach">
				<div class="homepage-top-seach-center-two">
					<div class="homepage-top-seach-center">
						<span class="homepage-top-seach-left"></span>
						<span class="homepage-top-seach-right">挑好房、上幸福蜗居</span>
					</div>
				</div>
				
			</div>
		</div>
	</div>

	<div class="homepage-last">
		<div class="homepage-last-top">
			<ul class="homepage-last-top-ul">
				<li class="homepage-last-top-cantain">
					<span class="homepage-last-top-prayer">区域</span>
					<span class="homepage-last-top-img"></span>
					<div class="homepage-last-top-hidden">
						<div class="homepage-hidden-left">1</div>
						<div class="homepage-hidden-right">2</div>
					</div>
				</li>
				<li class="homepage-last-top-cantain">
					<span class="homepage-last-top-prayer">面积</span>
					<span class="homepage-last-top-img"></span>
				</li>
				<li class="homepage-last-top-cantain">
					<span class="homepage-last-top-prayer">单价</span>
					<span class="homepage-last-top-img"></span>
				</li>
				<li class="homepage-last-top-cantain">
					<span class="homepage-last-top-prayer">更多</span>
					<span class="homepage-last-top-img"></span>
				</li>
				<li class="homepage-last-top-cantain">
					<span class="homepage-last-top-end-img"></span>
				</li>
			</ul>
		</div>
	</div>
	<div class="homepage-last-bottom">
			<div class="i-contain">
			<div class="i-contain-left"></div>
			<div class="i-contain-right">
				<span class="h3">东方金融中心
					<span class="h3-right right"></span>
				</span>
				<div class="i-right-prayer">浦东-八佰伴</div>
				<div class="i-right-box">商务中心</div>
				<div class="i-right-bottom">
					<span class="i-right-bottom-left">
						<span class="i-right-bottom-left-left">¥7</span> 元/平方/天起
					</span>
					<span class="i-right-bottom-right">
						佣金：1个月
					</span>
				</div>
			</div>
		</div>
		<div class="i-contain">
			<div class="i-contain-left"></div>
			<div class="i-contain-right">
				<span class="h3">东方金融中心
					<span class="h3-right right"></span>
				</span>
				<div class="i-right-prayer">浦东-八佰伴</div>
				<div class="i-right-box">商务中心</div>
				<div class="i-right-bottom">
					<span class="i-right-bottom-left">
						<span class="i-right-bottom-left-left">¥7</span> 元/平方/天起
					</span>
					<span class="i-right-bottom-right">
						佣金：1个月
					</span>
				</div>
			</div>
		</div>
		<div class="i-contain">
			<div class="i-contain-left"></div>
			<div class="i-contain-right">
				<span class="h3">东方金融中心
					<span class="h3-right right"></span>
				</span>
				<div class="i-right-prayer">浦东-八佰伴</div>
				<div class="i-right-box">商务中心</div>
				<div class="i-right-bottom">
					<span class="i-right-bottom-left">
						<span class="i-right-bottom-left-left">¥7</span> 元/平方/天起
					</span>
					<span class="i-right-bottom-right">
						佣金：1个月
					</span>
				</div>
			</div>
		</div>
		<div class="i-contain">
			<div class="i-contain-left"></div>
			<div class="i-contain-right">
				<span class="h3">东方金融中心
					<span class="h3-right right"></span>
				</span>
				<div class="i-right-prayer">浦东-八佰伴</div>
				<div class="i-right-box">商务中心</div>
				<div class="i-right-bottom">
					<span class="i-right-bottom-left">
						<span class="i-right-bottom-left-left">¥7</span> 元/平方/天起
					</span>
					<span class="i-right-bottom-right">
						佣金：1个月
					</span>
				</div>
			</div>
		</div>
		<div class="i-contain">
			<div class="i-contain-left"></div>
			<div class="i-contain-right">
				<span class="h3">东方金融中心
					<span class="h3-right right"></span>
				</span>
				<div class="i-right-prayer">浦东-八佰伴</div>
				<div class="i-right-box">商务中心</div>
				<div class="i-right-bottom">
					<span class="i-right-bottom-left">
						<span class="i-right-bottom-left-left">¥7</span> 元/平方/天起
					</span>
					<span class="i-right-bottom-right">
						佣金：1个月
					</span>
				</div>
			</div>
		</div>
	</div>
	
	<div class="page-last">
		<ul>
			<li>
				<span class="page-last-img1"></span>
				<span class="page-last-text">首页</span>
			</li>
			<li>
				<span class="page-last-img2"></span>
				<span class="page-last-text">预约</span>
			</li>
			<li>
				<span class="page-last-img3"></span>
				<span class="page-last-text"></span>
			</li>
			<li>
				<span class="page-last-img4">
					<div class="page-last-img4-box">3</div>
				</span>
				<span class="page-last-text">信息</span>
			</li>
			<li>
				<span class="page-last-img5"></span>
				<span class="page-last-text">我</span>
			</li>
		</ul>
	</div>
</body>
	<script src="./public/js/jquery-1.12.2.min.js"></script>
	<script src="./public/js/st/st.js"></script>
</html>