<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
	<link rel="stylesheet" href="./public/css/st.css">
</head>
<body>
	<div class="big">
		<div class="contain">
				<div class="box"></div>
				<div class="bottom">Copyright<span style="font-size:16px;vertical-align:middle">&copy;</span>2016</div>
			</div>
		<div class="contain-dl">

				<div class="top">
				<span class="dl-top-back"></span>
					登录
				</div>
				<div class="zhanghao">
				<div class="zhanghao-box">
					<div class="zhanghao-left">
						<span class="zhanghao-img"></span>
						<span class="zhanghao-txt">账号：</span>
						<div style="clear:both"></div>
					</div>
						<div class="zhanghao-right">
						<input type="text" id="text" placeholder="请输入您的手机号">
					</div>
				</div>
				<div class="zhanghao-center"></div>
				<div class="zhanghao-box">
					<div class="zhanghao-left">
						<span class="zhanghao-img-2"></span>
						<span class="zhanghao-txt">
								密码：
						</span>
						<div style="clear:both"></div>
					</div>
						<div class="zhanghao-right">
						<input type="password" id="password" placeholder="请输入您的密码">
					</div>
				</div>
				</div>
				<div class="bottom">
						<button class="bottom-btn" disabled="disabled">登录</button>
					<div class="bottom-bottom">
						<div class="bottom-left">
							<a  class="bottom-zc" href="zhuce.html">注册</a>
						</div>
						<div class="bottom-right">
							<a  class="bottom-right" href="#">忘记密码?</a>
						</div>
						<div class="both"></div>
					</div>
					
				</div>
		</div>
	</div>
	<script src="./public/js/jquery-1.12.2.min.js"></script>
	<script src="./public/js/st/st.js"></script>
</body>
</html>