<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
	<link rel="stylesheet" href="./public/css/wo-fangyuan.css">
</head>
<body>
	<div class="top" style="color:black">
		<span class="dl-top-back"></span>
		过期房源
	</div>
	<div class="i-contain">
		<div class="i-contain-left"></div>
		<div class="i-contain-right">
			<span class="h3-two">东方金融中心</span>
			<div class="i-right-prayer">浦东-八佰伴</div>
			<div class="i-right-box">商务中心</div>
			<div class="i-right-bottom">
				<span class="i-right-bottom-left">
					<span class="i-right-bottom-left-left">¥7</span> 元/平方/天起
				</span>
				<span class="i-right-bottom-right">
					佣金：1个月
				</span>
			</div>
			<div class="i-right-remove">删除</div>
		</div>
	</div>
	<div class="i-contain">
		<div class="i-contain-left"></div>
		<div class="i-contain-right">
			<h3 class="h3-two">东方金融中心</h3>
			<div class="i-right-prayer">浦东-八佰伴</div>
			<div class="i-right-box">商务中心</div>
			<div class="i-right-bottom">
				<span class="i-right-bottom-left">
					<span class="i-right-bottom-left-left">¥7</span> 元/平方/天起
				</span>
			</div>
		</div>
	</div>
</body>
	<script src="./public/js/jquery-1.12.2.min.js"></script>
	<script src="./public/js/st/st.js"></script>
</html>