<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
	<link rel="stylesheet" href="./public/css/wo-set.css">
</head>
<body>
	<div class="absolute">
		<div class="absolute-center">
			<div class="absolute-center-top">您确定清理缓存么</div>
			<div class="absolute-center-bottom">
				<span class="absolute-center-bottom-left">取消</span>
				<span class="absolute-center-bottom-right">确定</span>
			</div>
		</div>
	</div>
	<div class="top" style="color:black">
		<span class="dl-top-back"></span>
		设置
	</div>
	<div class="set-contain">
		<ul class="set-contain-ul">
			<li class="set-contain-ul-li">
				<span class="set-contain-li-left">
					<span class="set-contain-ul-li-left">接收需求</span>
				</span>
				<span class="set-contain-li-right">
					<div class="set-contain-ul-li-right">
						<div class="round"></div>
					</div>
				</span>
			</li>
			<li class="set-contain-ul-li">
				<span class="set-contain-li-left">
					<span class="set-contain-ul-li-left">关于</span>
				</span>
				<span class="set-contain-li-right">
					<div class="set-contain-ul-li-shapes">
					</div>
				</span>
			</li>
			<li class="set-contain-ul-li">
				<span class="set-contain-li-left">
					<span class="set-contain-ul-li-left">清除缓存</span>
				</span>
				<span class="set-contain-li-right">
					<span class="set-contain-li-right-prayer">7.06px</span>
					<div class="set-contain-ul-li-shapes"></div>
				</span>
			</li>
			<li class="set-contain-ul-li">
				<span class="set-contain-li-left">
					<span class="set-contain-ul-li-left">退出登录</span>
				</span>
			</li>
		</ul>
	</div>
</body>
	<script src="./public/js/jquery-1.12.2.min.js"></script>
	<script src="./public/js/st/st.js"></script>
</html>