<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
	<link rel="stylesheet" href="./public/css/wo-set-about.css">
</head>
<body>
	<div class="top" style="color:black">
		<span class="dl-top-back"></span>
		关于
	</div>
	<div class="about-contain">
		<div class="about-contain-img"></div>
	</div>
	<div class="about-bottom">
		<div class="about-bottom-top">
			<span class="set-contain-li-left">
				<span class="set-contain-ul-li-left">电话：</span>
			</span>
			<span class="set-contain-li-right">
				<span class="set-contain-li-right-prayer">021-68547845</span>
				<div class="set-contain-ul-li-shapes"></div>
			</span>
		</div>
		<div class="about-bottom-top">
			<span class="set-contain-li-left">
				<span class="set-contain-ul-li-left">服务条款：</span>
			</span>
			<span class="set-contain-li-right">
				<div class="set-contain-ul-li-shapes"></div>
			</span>
		</div>
	</div>
	<div class="about-end-contain">
		<div class="about-end-bottom">Copyright<span style="font-size:16px;vertical-align:middle">&copy;</span>2016</div>
	</div>
</body>
	<script src="./public/js/jquery-1.12.2.min.js"></script>
	<script src="./public/js/st/st.js"></script>
</html>