<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
	<link rel="stylesheet" href="./public/css/wo-xuqiu.css">
</head>
<body>
	<div class="contain-dl">	
		<div class="top" style="color:black">
			<span class="dl-top-back"></span>
			我发布的需求
		</div>
		<div class="news-contain">
			<div class="news-contain-content">
			<div class="news-content-top">
				<span class="news-content-top-left"><div>一个新的租房需求</div></span>
				<span class="news-content-top-right">
					<span class="news-last-prayer">12/25/10.04</span>
				</span>
			</div>
			<div class="news-content-bottom">
				<div class="news-bottom-prayer">
					需求为：外滩SOHO，200平米写字楼。简装带家私，租金8元/m²/天左右，附件有地铁
				</div>
				<div class="news-bottom-last">
					<span><button class="news-last-btn">了解详情</button></span>
				</div>
			</div>
		</div>
		</div>
	</div>
</body>
	<script src="./public/js/jquery-1.12.2.min.js"></script>
	<script src="./public/js/st/st.js"></script>
</html>