<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>项目名 - 杭州摆摆网络科技有限公司</title>
    <meta name="keywords" content="杭州摆摆网络科技有限公司"/>
    <meta name="description" content="杭州摆摆网络科技有限公司是一家互联网制作及设计的现代设计公司
    摆摆网络将市场定位于以企业互联网电子商务平台及企业信息化建设为基点，提供全方位的设计与应用方案。以网站建设及网络营销整合作为其主打服务产品之外，摆摆网络的服务范围包括软件开发、平面设计、界面设计、网页设计等多方位优质服务。 "/>
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
	<link rel="stylesheet" href="./public/css/wo-ziliao.css">
</head>
<body>
		<div class="top" style="color:black">
			<span class="dl-top-back"></span>
			个人资料
		</div>
		<div class="contain-top">
			<div class="contain-top-content">
				<span class="contain-content-img"></span>
				<h4 class="contain-content-prayer">呱呱呱叫</h4>
				<span class="contain-content-qm">以前一个人，现在一个人</span>
				<div class="contain-content-set">编辑个人资料</div>
			</div>
		</div>
		<div class="contain-bottom">
			<ul class="contain-bottom-ul">
				<li class="contain-bottom-ul-li">
					<span>企业邮箱/公司总机</span>
					<span>823546415@qq.com</span>
				</li>
				<li class="contain-bottom-ul-li">
					<span>联系人</span>
					<span>张三</span>
				</li>
				<li class="contain-bottom-ul-li">
					<span>联系方式</span>
					<span>18956024163</span>
				</li>
				<li class="contain-bottom-ul-li">
					<span>微信号码</span>
					<span>18956024163</span>
				</li>
			</ul>
			<div class="contain-bottom-last">
				
					<div class="contain-bottom-last-ul-li">
						<span class="contain-bottom-last-ul-li-img"></span>
						<span class="contain-bottom-last-ul-li-prayer">微信二维码</span>
					</div>
					<div class="contain-bottom-last-ul-li">
						<span class="contain-bottom-last-ul-li-img"></span>
						<span class="contain-bottom-last-ul-li-prayer">营业执照</span>
					</div>
					<div class="contain-bottom-last-ul-li">
						<span class="contain-bottom-last-ul-li-img"></span>
						<span class="contain-bottom-last-ul-li-prayer">租售代理协议</span>
					</div>
			</div>
		</div>
</body>
	<script src="./public/js/jquery-1.12.2.min.js"></script>
	<script src="./public/js/st/st.js"></script>
</html>