<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0">
	<link rel="stylesheet" href="./public/css/xinxi-xiaoxi.css">
</head>
<body>
	<div class="top">
		<div class="news-top">
			<div class="information">消息</div>
			<div class="notify">通知</div>
			<div class="needs">需求<span class="lifang">³</span></div>
		</div>
	</div>
	<div class="news-contain">
		<div class="news-contain-content">
			<div class="news-content-top">
				<span class="news-content-top-left"><div>你眼中的"醉美夜滨江"摄影征集启动啦！</div></span>
			</div>
			<div class="news-content-bottom">
				<div class="news-bottom-prayer">
					&nbsp;&nbsp;霓虹璀璨，凉风习习，越看越美，让人心醉。外滩、陆家嘴、徐汇滨江、北外滩......你眼中“醉美”的滨江夜景在哪里？
				</div>
				<div class="news-bottom-last">
					<span class="news-last-prayer">12/25/10.04</span>
				</div>
			</div>
		</div>
		<div class="news-contain-content">
			<div class="news-content-top">
				<span class="news-content-top-left"><div>你眼中的"醉美夜滨江"摄影征集启动啦！</div></span>
			</div>
			<div class="news-content-bottom">
				<div class="news-bottom-prayer">
					&nbsp;&nbsp;霓虹璀璨，凉风习习，越看越美，让人心醉。外滩、陆家嘴、徐汇滨江、北外滩......你眼中“醉美”的滨江夜景在哪里？
				</div>
				<div class="news-bottom-last">
					<span class="news-last-prayer">12/25/10.04</span>
				</div>
			</div>
		</div>
		<div class="news-contain-content">
			<div class="news-content-top">
				<span class="news-content-top-left"><div>你眼中的"醉美夜滨江"摄影征集启动啦！</div></span>
			</div>
			<div class="news-content-bottom">
				<div class="news-bottom-prayer">
					&nbsp;&nbsp;霓虹璀璨，凉风习习，越看越美，让人心醉。外滩、陆家嘴、徐汇滨江、北外滩......你眼中“醉美”的滨江夜景在哪里？
				</div>
				<div class="news-bottom-last">
					<span class="news-last-prayer">12/25/10.04</span>
				</div>
			</div>
		</div>
		<div class="news-contain-content">
			<div class="news-content-top">
				<span class="news-content-top-left"><div>你眼中的"醉美夜滨江"摄影征集启动啦！</div></span>
			</div>
			<div class="news-content-bottom">
				<div class="news-bottom-prayer">
					&nbsp;&nbsp;霓虹璀璨，凉风习习，越看越美，让人心醉。外滩、陆家嘴、徐汇滨江、北外滩......你眼中“醉美”的滨江夜景在哪里？
				</div>
				<div class="news-bottom-last">
					<span class="news-last-prayer">12/25/10.04</span>
				</div>
			</div>
		</div>
	</div>
	<div class="page-last">
		<ul>
			<li>
				<span class="page-last-img1"></span>
				<span class="page-last-text">首页</span>
			</li>
			<li>
				<span class="page-last-img2"></span>
				<span class="page-last-text">预约</span>
			</li>
			<li>
				<span class="page-last-img3"></span>
				<span class="page-last-text"></span>
			</li>
			<li>
				<span class="page-last-img4">
					<div class="page-last-img4-box">3</div>
				</span>
				<span class="page-last-text">信息</span>
			</li>
			<li>
				<span class="page-last-img5"></span>
				<span class="page-last-text">我</span>
			</li>
		</ul>
	</div>
</body>
	<script src="./public/js/jquery-1.12.2.min.js"></script>
	<script src="./public/js/st/st.js"></script>
</html>