<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>项目名 - 杭州摆摆网络科技有限公司</title>
    <meta name="keywords" content="杭州摆摆网络科技有限公司"/>
    <meta name="description" content="杭州摆摆网络科技有限公司是一家互联网制作及设计的现代设计公司
    摆摆网络将市场定位于以企业互联网电子商务平台及企业信息化建设为基点，提供全方位的设计与应用方案。以网站建设及网络营销整合作为其主打服务产品之外，摆摆网络的服务范围包括软件开发、平面设计、界面设计、网页设计等多方位优质服务。 "/>
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
	<link rel="stylesheet" href="./public/css/xinxi.css">
</head>
<body>
	<div class="top">
		<div class="news-top">
			<div class="information">消息</div>
			<div class="notify">通知</div>
			<div class="needs">需求</div>
		</div>
	</div>
	<div class="news-contain">
		<div class="news-contain-content">
			<div class="news-content-top">
				<span class="news-content-top-left"><div>一个新的租房需求</div></span>
				<span class="news-content-top-right">租户</span>
			</div>
			<div class="news-content-bottom">
				<div class="news-bottom-prayer">
					需求为：外滩SOHO，200平米写字楼。简装带家私，租金8元/m²/天左右，附件有地铁
				</div>
				<div class="news-bottom-last">
					<span><button class="news-last-btn">了解详情</button></span>
					<span class="news-last-prayer">12/25/10.04</span>
				</div>
			</div>
		</div>
		<div class="news-contain-content">
			<div class="news-content-top">
				<span class="news-content-top-left"><div>一个新的租房需求</div></span>
				<span class="news-content-top-right jjr">经纪人</span>
			</div>
			<div class="news-content-bottom">
				<div class="news-bottom-prayer">
					需求为：外滩SOHO，200平米写字楼。简装带家私，租金8元/m²/天左右，附件有地铁
				</div>
				<div class="news-bottom-last">
					<span><button class="news-last-btn">了解详情</button></span>
					<span class="news-last-prayer">12/25/10.04</span>
				</div>
			</div>
		</div>
		<div class="news-contain-content">
			<div class="news-content-top">
				<span class="news-content-top-left"><div>一个新的租房需求</div></span>
				<span class="news-content-top-right zs">招商</span>
			</div>
			<div class="news-content-bottom">
				<div class="news-bottom-prayer">
					需求为：外滩SOHO，200平米写字楼。简装带家私，租金8元/m²/天左右，附件有地铁
				</div>
				<div class="news-bottom-last">
					<span><button class="news-last-btn">了解详情</button></span>
					<span class="news-last-prayer">12/25/10.04</span>
				</div>
			</div>
		</div>
		<div class="news-contain-content">
			<div class="news-content-top">
				<span class="news-content-top-left"><div>一个新的租房需求</div></span>
				<span class="news-content-top-right dls">代理商</span>
			</div>
			<div class="news-content-bottom">
				<div class="news-bottom-prayer">
					需求为：外滩SOHO，200平米写字楼。简装带家私，租金8元/m²/天左右，附件有地铁
				</div>
				<div class="news-bottom-last">
					<span><button class="news-last-btn">了解详情</button></span>
					<span class="news-last-prayer">12/25/10.04</span>
				</div>
			</div>
		</div>
	</div>
	<div class="page-last">
		<ul>
			<li>
				<span class="page-last-img1"></span>
				<span class="page-last-text">首页</span>
			</li>
			<li>
				<span class="page-last-img2"></span>
				<span class="page-last-text">预约</span>
			</li>
			<li>
				<span class="page-last-img3"></span>
				<span class="page-last-text"></span>
			</li>
			<li>
				<span class="page-last-img4">
				</span>
				<span class="page-last-text">信息</span>
			</li>
			<li>
				<span class="page-last-img5"></span>
				<span class="page-last-text">我</span>
			</li>
		</ul>
	</div>
</body>
	<script src="./public/js/jquery-1.12.2.min.js"></script>
	<script src="./public/js/st/st.js"></script>
</html>