<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
	<link rel="stylesheet" href="./public/css/zhuce.css">
</head>
<body>
	<div class="top">
		<span class="dl-top-back"></span>
		注册
	</div>
	<div class="zc">
		<div class="one">
			<div class="zh-left">
				<span class="zh-img"></span>
				<span class="zh-text">账号：</span>
				<div style="clear:both"></div>
			</div>
			<div class="zh-right">
				<input type="text" placeholder="请输入您的手机号">
			</div>
		</div>
		<div class="one two">
			<div class="zh-left">
				<span class="two-img"></span>
				<span class="zh-text">验证码：</span>
				<div style="clear:both"></div>
			</div>
			<div class="zh-right">
				<input type="text" placeholder="请输入验证码">
				<span class="zh-right-yz">获取验证码</span>
			</div>
		</div>
		<div class="one three">
			<div class="zh-left">
				<span class="three-img"></span>
				<span class="zh-text">密码：</span>
				<div style="clear:both"></div>
			</div>
			<div class="zh-right">
				<input type="text" placeholder="请输入您的登录密码">

			</div>
		</div>
		<div class="one four">
			<div class="zh-left">
				<span class="three-img"></span>
				<span class="zh-text">确认密码：</span>
				<div style="clear:both"></div>
			</div>
			<div class="zh-right">
				<input type="text" placeholder="请输入您的确认密码">
			</div>
		</div>
		<div class="one last">
			<div class="zh-left">
				<span class="last-img"></span>
				<span class="zh-text">身份：</span>
				<div style="clear:both"></div>
			</div>
			<div class="zh-right">
				<input type="text" placeholder="经纪人">
			</div>
			<div class="xy">^
				<div class="box">
					<ul>
						<li>经纪人</li>
						<li>招商</li>
						<li>代理商</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="contain-end">
			<button class="end-first">注册</button>
			<div class="end-last">注册即代表同意
				<a href="#" class="a-font">《幸福蜗居用户协议》</a>
			</div>
		</div>
	</div>
	<script src="./public/js/jquery-1.12.2.min.js"></script>
	<script src="./public/js/st/st.js"></script>
</body>
</html>